<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apppruebauno">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.factura.FacturaActivity" />
        <activity android:name=".ui.lista.ListaActivity" />
        <activity android:name=".ui.scanner.ScannerVinActivity" />
        <activity android:name=".ui.scanner.ScannerFacturaActivity" />
        <activity android:name=".ui.scanner.RecepcionMotoActivity" />
        <activity android:name=".ui.inventory.InventoryActivity" />
        <activity android:name=".ui.discrepancy.DiscrepancyActivity" />

    </application>

</manifest>